* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin: auto;
}

#two {
	width: 1600px;
	height: 5000px;
	border: 1px solid red;
	box-sizing: border-box;
}

.middle {
	width: 1600px;
	height: 1150px;
	box-sizing: border-box;
}

.bai {
	width: 1600px;
	height: 3px;
	background-color: #fff;
}

.zi {
	width: 1600px;
	height: 574px;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	box-sizing: border-box;
	position: relative;
}

.wenzi {
	margin-top: 34px;
}

.wenzi p {
	margin-left: 697px;
	font-family: MicrosoftYaHei;
	font-size: 24px;
	color: #067FB7;
	padding-bottom: 20px;
}

.wenzi img {
	position: absolute;
	left: 465px;
	top: 76px;
}

.wenzi span {
	position: absolute;
	left: 670px;
	top: 80px;
	font-family: MicrosoftYaHei;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 0px;
	color: #9c9c9c;
}

.jisuanji {
	margin-top: 90px;
	margin-left: 203px;
	font-size: 13px;
	width: 1193px;
	height: 76px;
	line-height: 19px;
}

.diannao img {
	width: 356px;
	height: 240px;
	position: absolute;
	top: 300px;
	left: 609px;
}

.hei {
	width: 1600px;
	height: 1835px;
	border: 1px solid black;
	background-color: #303030;
}

.ke {
	position: relative;
}

.ke p {
	color: #fff;
	font-size: 25px;
	margin-top: 50px;
	margin-left: 750px;
}

.xiana {
	width: 159px;
	height: 1px;
	position: absolute;
	top: 127px;
	left: 450px;
	background-color: #fff;
}

.xianb {
	width: 351px;
	height: 45px;
	position: absolute;
	top: 102px;
	left: 625px;
	border: solid 1px #ffffff;
}

.xianc {
	width: 159px;
	height: 1px;
	position: absolute;
	top: 127px;
	right: 450px;
	background-color: #fff;
}

.zia {
	color: #fff;
	font-size: 18px;
	position: absolute;
	left: 640px;
	top: 115px;
}

.lan {
	width: 1198px;
	height: 416px;
	background-color: #1b94e1;
	margin-top: 170px;
	position: relative;
}

.lana {
	width: 137px;
	height: 42px;
	background-color: #1b94e1;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
	color: #fff;
	position: absolute;
	top: -42px;
}
.lan ul li{
	color: #fff;
}
.yuan{
	width: 50px;
	height: 50px;
	border: solid 2px #faf9f9;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 32px;
	text-align: center;
	line-height: 48px;
}