* {
	margin: 0px;
	padding: 0px;
}

/* bigbox stard */
#one {
	width: 1600px;
	height: 2028px;
	box-sizing: border-box;
	margin: auto;
	border: 1px solid #000;
}

/* bigbox end */
/* middle stard */
.middle {
	position: relative;
}

.wenzi {
	width: 360px;
	height: 73px;
	color: #020101;
	font-size: 18px;
	line-height: 27px;
	position: absolute;
	top: 200px;
	left: 214px;
	font-family: "microsoft yahei";
}

.wenzi p {
	font-size: 36px;
	width: 143px;
	letter-spacing: -1px;
	color: #616161;
	font-weight: bold;
	line-height: 100px;
}

.xiangqing {
	width: 135px;
	height: 44px;
	background-color: rgba(1, 138, 203, 0.75);
	border-radius: 5px;
	line-height: 44px;
	text-align: center;
	position: absolute;
	top: 486px;
	left: 214px;
	font-family: MicrosoftYaHei;
}

.xiangqing a {
	text-decoration: none;
	color: #FFF;
	font-size: 18px;
}

/* 2.2开始 */
.start {
	margin: auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 28px;
}

.start a {
	text-decoration: none;
	color: #898989;
	position: relative;
}

.start a span {
	color: #454545;
	font-size: 36px;
}

.start img {
	position: absolute;
	top: 35px;
	left: -169px;
}

/* 2.2结束 */
/* tupian start */
.photo {
	width: 1212px;
	height: 431px;
	margin: auto;
	box-sizing: border-box;
}

.photo ul li {
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
}

.tua {
	position: relative;
}

ol li a {
	text-decoration: none;
	color: #fff;
}

.zui {
	position: absolute;
	top: 198px;
	left: 74px;
	font-size: 20px;
	/* display: none; */
}

.chakan a {
	color: #0860C2;
	font-size: 15px;
}

.chakan {
	width: 90px;
	height: 32px;
	background-color: #FAF9F9;
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: 245px;
	left: 151px;
	/* display: none; */
}

.kong {
	width: 390px;
	height: 431px;
	background-color: rgba(46, 46, 46, 0.5);
	position: absolute;
	top: 0px;
}

.konga {
	width: 390px;
	height: 56px;
	background-color: rgba(46, 46, 46, 0.5);
	position: absolute;
	top: 151px;
	left: 0px;
}

.tuatwo {
	position: relative;
}

.chuang {
	position: absolute;
	top: 170px;
	left: 8px;
}

.tuathree {
	position: relative;
}

.kongb {
	width: 390px;
	height: 56px;
	background-color: rgba(46, 46, 46, 0.5);
	position: absolute;
	top: 151px;
	left: 0px;
}

.hezuo {
	position: absolute;
	top: 170px;
	left: 8px;
}

.tuafour {
	position: relative;
}

.kongc {
	width: 390px;
	height: 56px;
	background-color: rgba(46, 46, 46, 0.5);
	position: absolute;
	top: 151px;
	left: 0px;
}

.rencai {
	position: absolute;
	top: 170px;
	left: 16px;
}

.tuafive {
	position: relative;
}

.kongd {
	width: 390px;
	height: 56px;
	background-color: rgba(46, 46, 46, 0.5);
	position: absolute;
	top: 151px;
	left: 0px;
}

.hulian {
	position: absolute;
	top: 170px;
	left: 8px;
}

/* tupian end */
/* 灰色 */
.xiao {
	box-sizing: border-box;
	width: 1600px;
	height: 21px;
	background-color: #FBF7F7;
}

.abc {
	width: 1600px;
	height: 410px;
	background-color: #F1F1F1;
}

.jihua {
	margin: auto;
	text-align: center;
	position: relative;
	padding-top: 29px;
}

.jihua a {
	text-decoration: none;
	color: #7C7C7C;
}

.zimu {
	font-weight: bold;
	color: #181A1B;
	font-size: 36px;
}

.hua {
	font-size: 36px;
}

.jihua img {
	position: absolute;
	top: 85px;
	left: 541px;
}

.fang {
	box-sizing: border-box;
	width: 1099px;
	height: 37px;
	margin: auto;
	font-size: 14px;
	margin-top: 30px;
	text-indent: 2em;
	letter-spacing: 0px;
	color: #747474;
	line-height: 22px;
	margin-bottom: 20px;
}

.four {
	box-sizing: border-box;
	padding-top: 10px;
	width: 1205px;
	height: 215px;
	margin: auto;
	overflow: hidden;
}

.four ul li a {
	text-decoration: none;
	color: #747474;
	font-size: 15px;
}

.four ul {
	float: left;
	padding-left: 110px;
}
.four ul li{
	text-align: center;
	padding-top: 5px;
}
/* 白色 */
.write{
	box-sizing: border-box;
	width: 1600px;
	height: 10px;
	background-color: #fff;
}
.tua ol{
	display: none;
}
.tua:hover>ol{
	display: block;
}
/* middle stard */
